body{
	margin:0px;
	background-image: url('Images/seamless_paper_texture.png');
}

/*Main Nav*/

#nav-bar{
	height:150px;
}

#navSection{
	width: 65%;
	margin: 0 auto;
	height: 125px;
	padding-top: 0.15625%;
	font-family: Carrois Gothic;
	text-align: center;
	border-bottom: 1px solid #939598;
}

#navSection ul{
	padding:0px;
}

li.section{
	margin: 0px 6% 0px 6%;
	display:inline-block;
	text-align:center;
}

li.selected-nav{
	border-bottom: 6px solid #1aa8ad;
}

h4{
	margin:0px 0px 10px 0px;
	color:#939598;
	letter-spacing:1.2px;
}

#home, #work, #contact, #about, #resume{
	display:block;
	float:left;
	text-align:center;
	padding-bottom: 10px;
	height:52px;
}

#resume{
	padding-left: 10px;
}

#about {
	height:54px;
	padding: 0px 0px 8px 5px;
}

/*Body*/

.body-content{
	width:78%;
	margin-left:auto;
	margin-right:auto;
	padding-top:40px;
}

#name-plate{
	margin-top:100px;
}

#hero{
	font-family:Open Sans Condensed;
	font-size:51px;
	letter-spacing:4px;
	margin:0px 0px -20px 0px;
	text-align:center;
}

#visual{
	font-family: Roboto Condensed;
	font-size:50px;
	letter-spacing:2px;
	margin:auto;
	color:#1aa8ad;
	text-align:center;
}

.social{
	list-style-type: none;
    padding-top: 100px;
    padding-bottom:50px;
    width: 18.5%;
    margin: 0 auto;
}

div.social li{
	float:left;
	display:inline;
}

.icon{
	height:40px;
	margin-right:20px;
}

/*Portfolio*/

.page-head{
	font-family:Open Sans Condensed;
	letter-spacing: 2px;
}

.page-head h1{
	font-size:80px;
	margin:0;
}

.icon-large{
	height:80px;
	float:left;
	display:inline;
	padding:15px 12px 0 100px;
}


#work-nav{
	padding-top: 30px;
	padding-bottom:30px;
	text-align:center;
}

#design-nav, #project-nav, #photo-nav{
	letter-spacing:1.2px;
	font-family:Carrois Gothic;
	display:inline;
	padding-bottom:10px;
	margin:0px;
}

.selected-nav{
	border-bottom: 6px solid #1aa8ad;
	font-weight:bold;
}


.work-container{
	width:85%;
	margin:0 auto;
	padding-top:20px;
	min-height: 450px;
}

.photo-container{
	width:85%;
	margin:0 auto;
	padding:20px 0px 20px 0px;
	height:215px;
}

.head{
	font-family:Carrois Gothic;
	font-size:20px;
	margin:20px 15px 10px 15px;
	letter-spacing: 2.5px;
}

.row{
	margin:0px;
}

.two-column{
	width: 44%;
	float: left;
	padding: 15px;
	margin: 10px 15px 34px 15px;
	border: 1px solid #939598;
	box-shadow: 4px 6px 6px -2px rgba(0,0,0,.3);
}

.two-column-projects{
	width: 44%;
	min-height:456px;
	float: left;
	padding: 15px;
	margin: 10px 15px 34px 15px;
	border: 1px solid #939598;
	box-shadow: 4px 6px 6px -2px rgba(0,0,0,.3);
}

.details{
	width:44%;
	float:left;
}

.photo-column{
	width: 44%;
	float: left;
	display: inline;
	margin: 15px 40px 20px 20px;
}

.thumbnail{
	width:100%;
	margin:0 auto;
	padding-bottom:5px;
}

.pub{
	font-family:Source Sans Pro;
	font-size:16px;
	font-weight:bold;
	background-color:#939598;
	color:white;
	padding: 2px 5px 2px 5px;
}

.info{
	font-family:Source Sans Pro;
	font-size:16px;
	font-weight:300;
	margin:15px;

}

.pub{
	font-family:Source Sans Pro;
	font-size:16px;
	font-weight:300;
}

/*About Me*/

#headshot{
	padding:15px;
	border: 1px solid #939598;
	margin: 0 50px 0 15px;
	box-shadow: 4px 6px 6px -2px rgba(0,0,0,.3);
}

#about-me{
	float:left;
	display:inline-block;
	font-family:Source Sans Pro;
	font-size:17.5px;
	font-weight:300;
	margin:0px;
}

.span6{
	width:41%;
	float:left;
	display:inline;
}

#copyright{
	font-family: Roboto Condensed;
	color: #939598;
	text-align: center;
	padding:30px 0 30px 0;
	clear:both;
}

#contact-me{
	width:78%;
	float:left;
	display:inline;
	padding-left: 11%;
	font-family: Source Sans Pro;
	font-size:20px;
}


a{
	color:#939598;
	text-decoration:none;
}

