@import url(http://weloveiconfonts.com/api/?family=fontawesome);
[class*="fontawesome-"] {
  font-family: 'FontAwesome', sans-serif;
  font-size: 30px;
  color: black;
  padding: 0 15px 0 15px;
  text-align: center;
}

.social:hover {
	color: #1aa8ad;
}

body {
	margin: 0;
	/*background-image: url('Images/fresh_snow.png');*/
	background-color: #f5f5f5;
}

/*Main Nav*/

#navBar {
	width: 60%;
	margin: 0 auto;
	padding-top: 0.15625%;
	font-family: "Carrois Gothic";
	font-size: 0.8em;
	text-align: center;
	border-bottom: 1px dotted #595959;
}

#navBar ul {
	padding-left: 0;
}

li.section {
	margin: 0 8% 0 8%;
	display: inline-block;
}

li.selected-nav {
	border-bottom: 3px solid #1aa8ad;
}

h4 {
	margin: 0 0 10px 0;
	color: #595959;
	letter-spacing: .08em;
}

#home, #work, #contact {
	padding: 2px 0 10px 0;
	height: 52px;
}

#about {
	height: 54px;
	padding-bottom: 10px;
}

#contact {
	padding: 1px 0 10px 0;
	height: 54px;
}

#resume {
	padding: 6px 0 4px 9.5px;
	height: 55px;
}

/*Body*/

.body-content {
	width: 65%;
	margin: 0 auto 0 auto;
	padding-top: 40px;
}

/*Home Page*/
#name-plate {
	margin-top: 100px;
}

h1 {
	font-family: "Open Sans Condensed";
	font-size: 7em;
	letter-spacing: 4px;
	margin: 0 0 -10px 0;
	text-align: center;
}

#visual {
	font-family: "Roboto Condensed";
	font-size: 2em;
	letter-spacing: 2px;
	margin: auto;
	color: #1aa8ad;
	text-align: center;
}

.social {
    padding-top: 150px;
    padding-bottom: 50px;
    clear: both;
}


.social ul {
	text-align: center;
	padding-left: 0;
	list-style-type: none;
}

.social ul li {
	display: inline;
	margin-left: 0;
	padding-left: 0;
}

/*Portfolio*/

.page-head{
	font-family:"Open Sans Condensed";
	letter-spacing: 2px;
	margin:0 auto;
	display: none;
}

.page-head h1{
	font-size:80px;
	margin:0;
}

.icon-large{
	height:80px;
	float:left;
	padding:15px 12px 0 0;
}

/*Design Nav*/

#work-nav {
	margin: 30px 0 30px 0;
	text-align: center;
}

.work-nav-item {
	letter-spacing: 1.2px;
	font-family: "Carrois Gothic";
	font-size: 0.95em;
	display: inline;
	padding-bottom: 10px;
}

.selected-nav {
	border-bottom: 3px solid #1aa8ad;
	font-weight: bold;
}

.work-container {
	padding-top: 20px;
	min-height: 450px;
	margin: 0 auto;
}

.head {
	font-family:"Carrois Gothic";
	font-size:20px;
	margin:20px 15px 10px 15px;
	letter-spacing: 1.6px;
}

.two-column{
	width: 45%;
	float: left;
	padding: 7px;
	margin: 10px 15px 25px 15px;
	border: 1px solid #939598;
	box-shadow: 4px 7px 6px -1px rgba(0,0,0,.3);
}

.two-column a:hover{
	opacity: 0.7;
}

.project {
	min-height: 480px;
}

.thumbnail {
	width: 100%;
	margin: 0 auto;
}

.pub{
	font-family: "Source Sans Pro";
	font-size: 16px;
	font-weight: 300;
	background-color: #939598;
	color: white;
	padding: 2px 5px 2px 5px;
}

.info{
	font-family:"Source Sans Pro";
	font-size:16px;
	font-weight:300;
	margin:15px;
}

.info span {
	font-weight: bold;
	color: #333;
}

/*About Me*/


#headshot{
	width: 44%;
	/*margin: 10px 15px 25px 0;*/
	border: 1px dotted #595959;
	box-shadow: 4px 7px 6px -1px rgba(0,0,0,.3);
	padding: 7px;
}

/*#about-me{
	float: left;
	display: inline-block;

}*/

.bio {
	margin: 0px;
	width: 45%;
	float: right;
	display: inline;
	font-family: "Source Sans Pro";
	font-size: 16px;
	font-weight: 300;
}

#copyright{
	font-family: "Source Sans Pro";
	color: #595959;
	text-align: center;
	padding: 30px 0 30px 0;
	clear: both;
}

#contact-me{
	width:78%;
	float:left;
	display:inline;
	padding-left: 11%;
	font-family: "Source Sans Pro";
	font-size:20px;
}

/*Sandbox*/

#sandbox-container{
	text-align:center;
	padding-top: 20px;
}

#sandbox-container p{
	margin-top: 0;
}

.sand-item{
	padding-bottom: 35px;
}

.sand-item a:hover{
	opacity: 0.7;
}

a{
	color:#939598;
	text-decoration:none;
}

a:hover{
	color:#1aa8ad;
}


/* media queries */

@media screen and (max-width: 1349px) {
	.two-column{
		width:43%;
	}

	.bio {
		width:40%;
		font-size: 15px;
	}
}

@media screen and (max-width: 1280px) {
	.body-content{
		width: 66%;
	}

	#hero{
		font-size: 7em;
	}

	.info{
		font-size: 15px;
	}
	
	.bio{
		width: 45%;
	}

}


@media screen and (max-width: 1200px) {
	#navBar{
		width: 70%;
	}

	li.section{
		margin: 0 4% 0 4%;
		display: inline-block;
	}

	.body-content{
		width: 70%;
	}

	.two-column{
		width: 90%;
	}

	.two-column-projects{
		width: 90%;
	}

	.two-column-photo{
		width: 40%;
	}
	
	.bio {
		width: 45%;
	}

	#about-me{
		font-size: 15px;
	}
}

@media screen and (max-width: 1080px) {
	#headshot {

	}

	.bio {
		font-size: 13px;
	}
}

@media screen and (max-width: 600px) {
	.menu-icons {
		display:none;
	}

	#navBar{
		width: 100%;
		height: 40px;
		padding-top: 4%;
	}

	#navBar ul{
		margin: 0;
		padding: 0;
	}

	li.section{
		margin: 0 3.5% 0 3.5%;
	}

	/*home*/

	#hero{
		font-size: 4.5em;
		letter-spacing: 2px;
		margin: 0px 0px -10px 0px;
	}

	#visual{
		font-size: 1.7em;
		letter-spacing: 1.3px;
		margin: auto;
	}

	.icon {
		height: 1.8em;
	}

	/*work*/

	.page-head h1 {
		font-size: 3.2em;
		margin: 0;
	}


	.icon-large {
		height: 45px;
	}

	.info {
		font-size: 13.5px;
		width:90%;
	}

	.two-column{
		width:90%;
		float:none;
	}

	.two-column-projects {
		float:none;
		min-height:0;
		width:100%;
		padding: 10px;
		margin: 10px 15px 34px 15px;
		border: 1px solid #939598;
		box-shadow: 4px 6px 6px -2px rgba(0,0,0,.3);
	}

	.two-column-about {
		float:none;
		min-height:0;
		width:50px;
		padding: 10px;
		margin: 10px 15px 34px 15px;
		border: 1px solid #939598;
		box-shadow: 4px 6px 6px -2px rgba(0,0,0,.3);
	}

	/*about me*/

	#headshot {
		width: 85%;
	}

	#about-me{
		font-size:15px;
		margin:0;
	}

	.span6{
		width:100%;
	}

	#contact-me{
		font-size: 15.5px;
	}

	[class*="fontawesome-"]:before {
		font-family: 'FontAwesome', sans-serif;
		font-size: 18px;
		color:black;
		margin-right:17px;
	}

	#copyright {
		font-size: 0.9em;
	}
}

@media screen and (max-width: 500px) {

	/*sandbox*/

	.sand-item img{
		width: 85%;
	}

	#headshot {
		width: 85%;
	}

	.fontawesome-hand-left{
		display:none;
	}

	#contact-me{
		font-size: 15.5px;
	}
}

/*phone*/

@media screen and (max-width: 320px) {
/* Styles */
	li.section{
		margin: 0 .5% 0 .5%;
	}

	#hero{
		font-size: 3.5em;
	}

	#visual{
		font-size:1.5em;
	}

	#copyright{
		font-size: 13px;
	}

	h4{
		font-size: 14px;
	}

	/*work*/

	.body-content{
		width:84%;
	}

	.page-head h1 {
		font-size: 45px;
		margin: 0;
	}


	.icon-large {
		height: 40px;
		padding: 12px 10px 0 0;
	}

	#design-nav, #project-nav, #photo-nav {
		font-size: 13px;
	}
}


