@import url(http://weloveiconfonts.com/api/?family=fontawesome);
[class*="fontawesome-"] {
  font-family: 'FontAwesome', sans-serif;
  font-size: 23px;
  color: #333;
  padding: 0 15px 0 15px;
  text-align: center;
}

.social:hover {
	color: #1aa8ad;
}

body {
	margin: 0;
	background-color: #F1F1F1;
}

/*Main Nav*/

#navBar {
	width: 60%;
	margin: 0 auto;
	padding-top: 0.16%;
	font-family: "Carrois Gothic";
	font-size: 0.8em;
	text-align: center;
	border-bottom: 1px dotted #CCCACA;
}

#navBar ul {
	padding-left: 0;
}

li.section {
	margin: 0 8% 0 8%;
	display: inline-block;
}

li.selected-nav {
	border-bottom: 3px solid #1aa8ad;
}

h4 {
	margin: 0 0 10px 0;
	color: #8A8A8A;
	letter-spacing: .08em;
}

#home, #work, #contact {
	padding: 2px 0 10px 0;
	height: 40px;
}

#about {
	height: 41px;
	padding-bottom: 10px;
}

#resume {
	padding: 6px 0 4px 8px;
	height: 41px;
}

/*Body*/

.body-content {
	width: 60%;
	margin: 0 auto 0 auto;
	padding-top: 40px;
}

/*Home Page*/
#name-plate {
	margin-top: 100px;
}

h1 {
	font-family: "Open Sans Condensed";
	font-size: 7em;
	letter-spacing: 4px;
	margin: 0 0 -10px 0;
	text-align: center;
}

#visual {
	font-family: "Roboto Condensed";
	font-size: 2em;
	letter-spacing: 2px;
	margin: auto;
	color: #1aa8ad;
	text-align: center;
}

.social {
    padding-top: 150px;
    padding-bottom: 50px;
    clear: both;
}


.social ul {
	text-align: center;
	padding-left: 0;
	list-style-type: none;
}

.social ul li {
	display: inline;
	margin-left: 0;
	padding-left: 0;
}

/*Portfolio*/

.page-head{
	font-family:"Open Sans Condensed";
	letter-spacing: 2px;
	margin:0 auto;
	display: none;
}

.page-head h1{
	font-size:80px;
	margin:0;
}

.icon-large{
	height:80px;
	float:left;
	padding:15px 12px 0 0;
}

/*Design Nav*/

#work-nav {
	margin: 15px 0 30px 0;
	text-align: center;
}

.work-nav-item {
	letter-spacing: 1.2px;
	font-family: "Carrois Gothic";
	font-size: 0.8em;
	display: inline;
	padding-bottom: 10px;
}

.selected-nav {
	border-bottom: 3px solid #1aa8ad;
	font-weight: bold;
}

.work-container {
	padding-top: 20px;
	min-height: 450px;
	margin: 0 auto;
}

.pub-container {
	width: 100%;
	min-height: 300px;
	clear:both;
}

.head {
	font-family: "Carrois Gothic";
	font-size: 13px;
	letter-spacing: 1.5px;
	padding-bottom: 7px;
}

.three-column{
	width: 30%;
	float: left;
	margin: 17px 13px 10px 10px;
	min-height: 150px;
}

.three-column img {
	padding-bottom: 5px;
}

.three-column:hover{
	border-bottom: 5px solid #1aa8ad;
	opacity: 0.85;
}

.thumbnail {
	width: 100%;
	margin: 0 auto;
}

.pub {
	font-family: "Source Sans Pro";
	font-size: 15px;
	background-color: #CCCACA;
	color: white;
	padding: 2px 5px;
	margin: 10px;
	letter-spacing: 0.6px
}

.info{
	font-family: "Source Sans Pro";
	font-size: 14px;
	font-weight: 300;
}

.info span {
	font-weight: bold;
	color: #333;
}

/*About Me*/

#headshot{
	width: 35%;
	border: 1px dotted #CCCACA;
	box-shadow: 4px 7px 6px -1px rgba(0,0,0,.2);
	padding: 5px;
	float: left;
}

.bio {
	font-family: "Source Sans Pro";
	font-size: 15px;
	width: 58%;
	float: right;
	margin: 0;
}

.bio span {
	font-weight: bold;
	font-size: 1.4em;
	color: #1aa8ad;
}

#copyright{
	font-family: "Source Sans Pro";
	color: #595959;
	text-align: center;
	padding: 30px 0;
	clear: both;
	font-size: 0.9em;
}

/*Sandbox*/

#sandbox-container{
	text-align:center;
	padding-top: 20px;
}

#sandbox-container p{
	margin-top: 0;
}

.sand-item{
	padding-bottom: 35px;
}

.sand-item img {
	width: 275px;
}

.sand-item a:hover{
	opacity: 0.7;
}

a{
	color:#939598;
	text-decoration:none;
}

a:hover{
	color:#1aa8ad;
}

@media screen and (max-width: 1100px) {
	#navBar{
		width: 70%;
	}

	.body-content{
		width: 75%;
	}

	#headshot{
		width: 30%;
	}

	.bio {
		font-size: 14px;
		width: 60%;
	}

	.bio span {
		font-weight: bold;
		font-size: 1.3em;
		color: #1aa8ad;
	}
}

@media screen and (max-width: 1000px) {
	#hero {
		font-size: 6.5em;
	}

	.body-content{
		width: 87%;
	}

	li.section {
		display: inline-block;
	}

	.two-column {
		width: 90%;
	}
}

@media screen and (max-width: 815px) {
	#home, #work, #contact {
		padding: 2px 0 10px 0;
		height: 35px;
	}

	#about {
		height: 36px;
		padding-bottom: 10px;
	}

	#resume {
		padding: 6px 0 4px 8px;
		height: 37px;
	}

	#about-me {
		width: 70%;
    	margin: 0 auto;
	}

	#headshot {
		width: 60%;
		text-align: center;
		float: none;
	}

	.bio {
		font-family: "Source Sans Pro";
		font-size: 13px;
		width: 70%;
		float: none;
		margin: 15px auto 0 auto;
	}
	
}

@media screen and (max-width: 794px) {
	.body-content{
		width: 95%;
	}
}

@media screen and (max-width: 665px) {
	.menu-icons {
		display:none;
	}

	#navBar{
		width: 95%;
		height: 30px;
		padding-top: 2%;
	}

	#navBar ul{
		margin: 0;
		padding: 0;
	}

	li.section{
		margin: 0 3.5%;
	}

	.section h4 {
		margin-bottom: 5px;
	}

	/*home*/

	#name-plate {
		font-size: 0.85em;
		letter-spacing: 1px;
	}

	#visual {
		font-size: 1.5em;
		letter-spacing: 1px;
	}

	/*work*/

	.pub-container {
		min-height: 250px;
	}

	.three-column {
		width: 27%;
	}

	/*about me*/

	#headshot {
		width: 70%;
	}

	[class*="fontawesome-"]:before {
		font-family: 'FontAwesome', sans-serif;
		font-size: 24px;
		color: #333;
		margin-right: 17px;
	}

	.social {
		padding-top: 95px;
	}
}

@media screen and (max-width: 525px) {
	.body-content{
		width: 75%;
	}

	.three-column {
		width: 90%;
	}

	.three-column:hover{
		border-bottom: 0px;
		opacity: 0.75;
	}

	.sand-item img{
		width: 85%;
	}

}

@media screen and (max-width: 440px) {
	#name-plate h1{
		font-size: 5em;
	}

	#headshot {
		width: 100%;
	}
}

/*phone*/

@media screen and (max-width: 320px) {
	#name-plate h1{
		font-size: 4em;
		margin-bottom: 6px;
	}

	#visual{
		font-size: 1.2em;
	}

	li.section{
		margin: 0 2.5% 0 2.5%;
	}

	.section h4 {
		font-size: 12px;
	}

	/*work*/

	.body-content{
		width: 84%;
	}
	
	.pub, .info {
		font-size: 13px;
	}

	/*about*/

	.bio {
		width: 90%;
	}

	[class*="fontawesome-"]:before {
		font-family: 'FontAwesome', sans-serif;
		font-size: 19px;
		margin-right: 13px;
	}

	#copyright{
		font-size: 13px;
	}
}


