body {
	margin: 0;
}

p {
	font-family: 'Open Sans','Helvetica',sans-serif;
}

/* -------- BODY ----------*/
.body-content {
	margin: 0 auto;
	padding-top: 40px;
}

/* -------- HERO IMAGE ----------*/
#name-plate {
	margin: 100px 0 50px 0;
	text-align: center;
}

#hero {
	width: 35%;
}

/* -------- NAVIGATION ----------*/
#navBar {
	text-transform: uppercase;
	font-size: 1.25em;
	text-align: center;
}

#navBar ul {
	padding-left: 0;
}

li.section {
	margin: 0 4%;
	padding-bottom: 5px;
	display: inline-block;
}

.nav-item {
	margin: 0;
	color: #adadad;
	letter-spacing: .08em;
	font-size: 14px;
	font-weight: bold;
}

#work .nav-item {
	color: #000;
}

#navBar ul li:hover {
	border-bottom: 4px solid #adadad;
	transition: 0.2s;
	cursor: pointer;
}

li.selected-nav {
	border-bottom: 4px solid #000;
	/*#5dadc4*/
}

#navBar ul li.selected-nav:hover {
	border-bottom: 4px solid #000;
}

a:hover {
	text-decoration: none;
}


/* -------- WORK CONTAINER ----------*/

#main-container {
	margin: 75px auto 0 auto;
	width: 90%;
	overflow: hidden;
}

#work-section {
	margin: 10px auto 0 auto;
}

.col-xs-4 {
	position: relative;
	margin-bottom: 25px;
}

.thumb {
	width: 100%;
}

.row {
	margin-bottom: 20px;
}


#fun-section {
	display: none;
	margin: 10px auto 0 auto;
}

/* -------- CORNER RIBBONS (adapted from trapezoid https://css-tricks.com/examples/ShapesOfCSS/) ----------*/

.ribbon{
	padding: 2px 5px;
	font-size: 10px;
	font-weight: normal;
	background-color: rgba(43,43,43,0.7);
	color: #fff;
	border-radius: 3px;
	position: absolute;
	bottom: 20px;
	left: 21px;
	text-transform: uppercase;
}

.col-xs-4:hover span.ribbon {
	opacity: 0;
	transition: 0.1s;
}


/*--------- ZOE EFFECT (adapted from http://tympanus.net/Development/HoverEffectIdeas/index.html) --------------*/

figcaption {
	padding: 0.5em;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

.effect-zoe:hover figcaption {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.pub {
	padding: 3px 6px;
	font-size: 12px;
	background-color: #2b2b2b;
	color: #fff;
	font-weight: normal;
	border-radius: 3px;
	text-transform: uppercase;
}

.headline {
	font-size: 13px;
	font-weight: bold;
	position: absolute;
	bottom: 1.6em;
	margin: 0;
	padding: 20px;
	color: #000;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
	-webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
}

span.subhead {
	font-weight: normal;
}

.effect-zoe:hover p.headline {
	opacity: 1;
}

.thumb:hover {
	opacity: 0.15;
	transition: 0.25s;

}

.effect-zoe:hover .thumb {
	opacity: 0.15;
	transition: 0.2s;
	outline: 3px solid #000;
}

.mobile-caption {
	display: none;
}

.info {
	font-size: 13px;
	font-weight: bold;
	margin-top: 10px;
}

/* -------- ABOUT ME ----------*/

#about-section {
	width: 70%;
	margin: 0 auto;
	display: none;
}

#headshot{
	width: 50%;
	float: left;
}

#bio {
	font-size: 13.5px;
	width: 42%;
	float: right;
}

#bio span {
	font-weight: bold;
	font-size: 1.15em;
	color: #000;
}

#bio a {
	color: #4a8a9c;
}

#bio a:hover {
	text-decoration: underline;
}


/*------- SOCIAL ICONS ----------*/

.social {
    padding: 100px 0 50px 0;
    clear: both;
}

.social ul {
	text-align: center;
	padding-left: 0;
	list-style-type: none;
}

.social ul li {
	display: inline;
	margin: 0 15px;
	padding-left: 0;
}

.fa {
	color: #adadad;
	font-size: 15px;
}

.fa:hover {
	color: #000;
	transition: 0.2s;
}

#copyright{
	font-size: 0.9em;
	font-weight: 300;
	color: #adadad;
	text-align: center;
	padding: 30px 0;
	clear: both;
}


/* ---------- MEDIA QUERIES ----------------*/

@media screen and (max-width: 1000px) {
	#about-section {
		width: 80%;
	}

	#hero {
		width: 45%;
	}

}

@media screen and (max-width: 850px) {
	#about-section {
		width: 90%;
	}

	#bio {
		font-size: 12px;
	}

	.headline {
		font-size: 12px;
		bottom: 1.4em;
		padding: 10px;
	}
}

@media screen and (max-width: 760px) {
	.work-container {
		margin-top: 50px;
	}

	/*.col-xs-4 {
		width: 100%;
		margin-bottom: 15px;
	}*/

	figcaption {
		display: none;
	}

	.ribbon {
		display: none;
	}

	.effect-zoe:hover .thumb {
		opacity: 1;
		transition: 0;
		border: 0;
		outline: 0;
	}

	.mobile-caption {
		display: block;
		margin: 10px 0 25px 0;
	}

	.pub {
		background-color: #aaaaaa;
	}

	.info {
		font-weight: normal;
	}

	#about-section {
		width: 97%;
	}

	.social {
	    padding-top: 50px;
	}
}


@media screen and (max-width: 600px) {
	#work-section, #fun-section {
		width: 90%;
	}

	#name-plate {
		margin-top: 70px;
	}

}

@media screen and (max-width: 560px) {
	#hero {
		width: 56%;
	}

	#navBar {
		width: 80%;
    	margin: 0 auto;
	}
	
	#headshot{
		width: 75%;
		float: none;
		display: block;
		margin: 0 auto;
	}

	#bio {
		width: 75%;
		float: none;
		font-size: 13.5px;
		margin: 20px auto 0 auto;
	}

	.info {
		font-size: 12px;
	}

}

@media screen and (max-width: 390px) {

	.nav-item {
		font-size: 12px;
	}

}

@media screen and (max-width: 340px) {

	#navBar {
		width: 90%;
	}

	li.section {
		margin: 0 2.5%;
	}

	#copyright{
		font-size: 0.65em;
	}

}


